<nav >
    <a href="index.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>
    <a href="estado.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Estado de cuenta</a>
   <a href="transferis.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Tranferir</a>
</nav>