        <div class="row">
          <div class="col-10 offset-0">
            <div class="card mt-6 p-5">
              <h4>Estado de cuenta</h4>
              <div class="exp">
                <table style="width: 100%;">
                  <tr>
                    <th>Movimiento</th>
                    <th>Monto</th>
                    <th>Usuario</th>
                    <th>Glosa</th>
                  </tr>
                  <tr>
                    <td>Envio de dinero</td>
                    <td>$700.000</td>
                    <td>juan@mail.com</td>
                    <td>compra nottebook juan</td>
                  </tr>
                  <tr>
                    <td>recarga</td>
                    <td>$300.000</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>dinero recibido</td>
                    <td>$100.000</td>
                    <td>felipe@mail.ccom</td>
                    <td>devolucio prestamo</td>
                  </tr>
                  <tr>
                    <td>recarga</td>
                    <td>$600.000</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </table>
                <label>
                  Saldo disponible: $ 300.000
                  <a href="recarga.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Recargar</a>
                </label>
              </div>
            </div>
          </div>
        </div>