<div class="row">
          <div class="col-6 offset-0">
            <div class="card mt-5 p-4">
              <form action="" method="post" class="row g-3">
                <h4>Ingreso</h4>
                <div class="col-12">
                    <label>Email:</label>
                    <input
                      type="email"
                      name="email"
                      placeholder="Email"
                      class="form-control"
                    />
                  </div>
                <div class="col-12">
                  <label>Contraseña:</label>
                  <input
                    type="password"
                    name="password"
                    placeholder="Contraseña"
                    class="form-control"
                  />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg float-end">Ingresar</button> 
                </div>
              </form>

            </div>
          </div>
        </div>