<div class="row">
          <div class="col-6 offset-0">
            <div class="card mt-5 p-4">
              <form action="" method="" class="row g-3">
                <h2>Transferir</h2>
                <h5>Maximo que se puede transferis : $300.000</h5>
                <div class="col-12">
                    <label>Email:</label>
                    <input
                      type="email"
                      name="email"
                      placeholder="Email"
                      class="form-control"
                    />
                  </div>
                  <div class="col-12">
                    <label for="mon">Monto :</label>
                    <input
                      id="mon"
                      type="number"
                      name="number"
                      placeholder="Monto a Tranferir"
                      class="form-control"
                    />
                  </div>
                  <div class="col-12">
                    <label>Glosa:</label>
                    <input
                      type="text"
                      name="text"
                      placeholder="..."
                      class="form-control"
                    />
                  </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg float-end">Transferir</button> 
                </div>
              </form>

            </div>
          </div>
        </div>