    <div class="container">
        <div class="row">
          <div class="col-6 offset-0">
            <div class="card mt-5 p-4">
              <form action="" method="POST" class="row g-3">
                <h2>Recargar</h2>
                <div class="col-12">
                  <label>Monto:</label>
                  <input
                    type="number"
                    name="Monto"
                    placeholder="Monto a Recargar"
                    class="form-control"
                  />
                </div>
                <div class="col-12">
                    <label>Targeta de cradito:</label>
                    <input
                      type="number"
                      name="Targeta"
                      placeholder="XXXX-XXXX-XXXX-XXXX"
                      class="form-control"
                    />
                  </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg float-end">Recargar</button> 
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>