<div class="row">
          <div class="col-6 offset-0">
            <div class="card mt-5 p-4">
              <form action="" method="POST" class="row g-3">
                <h2>Transferir</h2>
                <h5>Maximo que se puede transferis : $300.000</h5>
                <div class="col-12">
                    <label>Email:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="receptor_id"
                      name="receptor_id"
                      required
                    />
                  </div>
                  <div class="col-12">
                    <label for="mon">Monto :</label>
                    <input
                      type="number"
                      class="form-control"
                      id="monto"
                      name="monto"
                      required
                    />
                  </div>
                  <div class="col-12">
                    <label>Glosa:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="descripcion"
                      name="descripcion"
                      required
                    />
                  </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg float-end">Transferir</button> 
                </div>
              </form>

            </div>
          </div>
        </div>